<div class="card">
    <div>
            <img src="/assets/Annotation 2019-10-16 094708.png" height="50px" width="1915px">

            <ngb-tabset>


              <!--------------Home page--------------->


                <ngb-tab>
                  <ng-template  ngbTabTitle>Home</ng-template>
                  <ng-template ngbTabContent>

                    <!-------------------ngb toast for error message----------------->

                    <ngb-toast *ngIf="show2" class='bg-danger text-light' [delay]="3000" [autohide]="autohide2" (hide)="show2 = false; autohide2 = true" >
                          <div *ngIf="autohide2">
                            Somthing Went Wrong
                          </div>
                    </ngb-toast>

                      <!---------------end--------------->


                    <!-------------ngb taost for user login-------------->
                    <ngb-toast *ngIf="show3" class='bg-primary text-light' [delay]="3000" [autohide]="autohide3" (hide)="show3 = false; autohide3 = true" >
                        <div *ngIf="autohide3">Logged In As Admin</div></ngb-toast>
                        <ngb-toast *ngIf="show4" class='bg-primary text-light' [delay]="3000" [autohide]="autohide4" (hide)="show4 = false; autohide4 = true" >
                            <div *ngIf="autohide4">Logged In As User</div></ngb-toast>
                      <!--------ngb alert--------->

                      <div *ngIf="display">
                          <p *ngFor="let alert of alerts">
                              <ngb-alert [type]="alert.type" (close)="close(alert)">{{ alert.message }}</ngb-alert>
                          </p>
                      </div>

                      <!------------>


                      <ngb-carousel #carousel interval="2000">
                          <ng-template ngbSlide *ngFor="let img of images; index as i">
                            <div class="carousel-caption">
                              <h3 class="text">Best Articles to Read</h3>
                            </div>
                            <div class="picsum-img-wrapper">
                                <img [src]="img" width="2000px" height="680px" alt="My image {{i + 1}} description">
                            </div>
                          </ng-template>
                        </ngb-carousel>

                  </ng-template>
                </ngb-tab>

                <!---------------table part-------------->

                <ngb-tab *ngIf="isLoggedIn()">
                  <ng-template ngbTabTitle>Articles</ng-template>
                  <ng-template ngbTabContent>
                      <br>
                      <div class="container-fluid">
                          <button class="btn-primary pull-right" (click)="openAdd(addpop)" ngbButton>Add Article</button>
                      </div>

                      <!--------ngb toast for add------------>

                      <ngb-toast *ngIf="show" class='bg-success text-light' [delay]="3000" [autohide]="autohide" (hide)="show = false; autohide = true" [class.bg-warning]="!autohide">
                        <div *ngIf="autohide">Record is added</div></ngb-toast>
                        <!-- -->

                         <!-------ngb toast for edit-------->

                        <ngb-toast *ngIf="show1" class='bg-success text-light' [delay]="3000" [autohide]="autohide1" (hide)="show1 = false; autohide1 = true" >
                          <div *ngIf="autohide1">Record updated</div></ngb-toast>

                          <!-------------------------->

                          <table class="table table-striped">
                          <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Article Id</th>
                                <th scope="col">Article Name</th>
                                <th scope="col">Category Name</th>
                                <th scope="col">Created Date & Time</th>
                                <th scope="col">Action</th>
                                <th scope="col">Action</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let item of allart; index as i">
                                <th scope="row">{{ i + 1 }}</th>
                                <td ><img [src] class="mr-2" style="width: 20px">{{ item.articleId | number }}</td>
                                <td>{{item.articleName }}</td>
                                <td>{{item.categoryName }}</td>
                                <td>{{item.createdDate }}</td>
                                <td><button class="btn-primary" (click)="openEdit(editpop,item)" ngbButton>Edit</button></td>
                                <td><button class="btn-dark" (click)="readmore(content,item)" ngbButton>Read Article</button></td>
                              </tr>
                          </tbody>
                        </table>
                        <ngb-pagination class="d-flex justify-content-center" *ngIf="pageshow" [collectionSize]="totalitem" [maxSize]=5  [rotate]="true" [(page)]="Page" (pageChange)="showPage([Page])" [boundaryLinks]="true"></ngb-pagination>
                  </ng-template>
                </ngb-tab>

                <!--------------About Us---------------->

                <ngb-tab>
                    <ng-template ngbTabTitle>About Us</ng-template>
                    <ng-template ngbTabContent>
                        <div class="card">
                            <div class="card-body">
                              <div class="card">
                                <div class="card-body">
                                  <h4>About</h4>
                                </div>
                              </div>
                                <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                                    <ngb-panel>
                                      <ng-template ngbPanelTitle>
                                        <span>&#9733; <b>MOST</b> POPULAR ARTICLES &#9733;</span>
                                      </ng-template>
                                      <ng-template ngbPanelContent>
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                                        aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                                        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                                        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                                        labore sustainable VHS.
                                      </ng-template>
                                    </ngb-panel>
                                  </ngb-accordion>
                            </div>
                          </div>
                    </ng-template>
                  </ngb-tab>


    <!--------------contact page------------------->

                <ngb-tab>
                  <ng-template ngbTabTitle>Contact Us</ng-template>
                  <ng-template ngbTabContent>
                <div class="container-fluid">
                    <div class="jumbotron">
                        <h1 class="display-4">Contact Us!!</h1>
                        <p class="lead"></p>
                        <hr class="my-4">
                        <div class="form-group">
                            <label>Your Name</label>
                            <input type="text" placeholder="Enter your name" class="form-control">
                          </div>
                          <div class="form-group">
                              <label>Email Address</label>
                              <input type="text" placeholder="Enter your email address" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Message</label>
                                <input type="textarea" placeholder="Enter message" class="form-control">
                              </div>
                              <div class="form-group">
                                  <button class="btn-primary">Send Message</button>
                              </div>

                        <p> It's that compelling content that's crucial to making inbound marketing work for your business.</p>
                        <p>So how do you balance your remarkable content creation with your web design needs? It all starts with the "Contact Us" page.</p>
                      </div>
                </div>
                  </ng-template>
                </ngb-tab>
                <ngb-tab *ngIf="!isLoggedIn()">
                  <br>
                  <ng-template ngbTabTitle>Log In</ng-template>
                  <ng-template ngbTabContent>
                     <h5 style="text-align: center;">LOGIN HERE</h5>
                      <div class="container">
                        <form [formGroup]="login" (ngSubmit)="onLoginSubmit()"  >
                          <div class="form-group" >
                            <label  >User Name</label>
                            <input formControlName="useremail" class="form-control" type="text" placeholder="Enter User Name">
                            <label  class="alert alert-danger" *ngIf="login.get('useremail').hasError('required') && !login.get('useremail').pristine"></label>
                          </div>
                          <div class="form-group" >
                              <label  >Password</label>
                              <input formControlName="userpassword" class="form-control" type="password" placeholder="Enter Password">
                              <label  class="alert alert-danger" *ngIf="login.get('userpassword').hasError('required') && !login.get('userpassword').pristine"></label>
                          </div>
                            <div class="form-group" >
                              <button type="submit" class="btn btn-primary" [disabled]="!login.valid" >login</button>
                            </div>
                        </form>
                      </div>
                  </ng-template>
                  </ngb-tab>
                  <ngb-tab *ngIf="isLoggedIn()">
                      <ng-template ngbTabTitle><label (click)="onLogOut()" ngbButtonLabel class="btn-primary">Log Out
                          <!-- <input ngbButton type="">Log Out -->
                          <!-- <button >Log out</button> -->
                        </label></ng-template>
                      <!-- <ng-template ngbTabContent>
                          <label (click)="onLogOut()" ngbButtonLabel class="btn-primary">
                              <input ngbButton type="button" >Log Out
                            </label>
                        </ng-template> -->
                      </ngb-tab>
            </ngb-tabset>
    </div>
    </div>
    <br>


    <!-------------readmore popup----------------->


    <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title"><i></i>Read More!!</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
              <label><i class="fa fa fa-address-card-o"></i>&nbsp;{{readarr?.articleName}}</label>
              <div class="input-group">
              <p><i class="fa fa-clock-o"></i>&nbsp;{{readarr?.createdDate}}</p>
              </div>
              <div class="input-group">
                <p [innerHTML]="readarr?.content"></p>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cross click')">Close</button>
        </div>
      </ng-template>

<!---------------edit popup--------------------->

      <ng-template #editpop let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title"><i></i>Edit Article!</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form class="container" [formGroup]="kbase" (ngSubmit)="articleSave(kbase.value)">
        <div class="modal-body">
            <div class="form-group">
              <label><b>Article name</b></label>
              <div class="input-group">
                <input class="form-control" formControlName="articleName">
              </div>
              <label><b>Category</b></label>
              <div class="input-group">
                  <select formControlName="categoryId" class="form-control">
                      <option>Choose your category</option>
                      <option *ngFor="let item of catarr" [value]="item.categoryId">{{item.categoryName}}</option>
                  </select>
              </div>
              <label><b>Content</b></label>
              <div class="input-group">
                <input class="form-control"  formControlName="content">
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-primary">Submit</button>
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cross click')">Close</button>
        </div>
      </form>
      </ng-template>

<!------------------addpopup----------------------->

    <ng-template #addpop let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title"><i></i>Add Article!</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form class="container" [formGroup]="kbase" (ngSubmit)="onadd(kbase.value)">
          <div class="modal-body">
              <div class="form-group">
                <label><b>Article name</b></label>
                <div class="input-group">
                  <input class="form-control" formControlName="articleName">
                  <!-- <button *ngIf="kbase.get('articleName').hasError('pattern') && !kbase.get('articleName').pristine" type="button" class="btn btn-outline-secondary mr-2" placement="top" ngbTooltip="Tooltip on top">
                      Tooltip on top</button> -->
                  <div>
                          <label class="alert alert-danger" *ngIf="kbase.get('articleName').hasError('pattern') && !kbase.get('articleName').pristine">Enter only characters</label>
                  </div>
                  </div>
                <label><b>Category</b></label>
                <div class="input-group">
               <select formControlName="categoryId" class="form-control">
                 <option>Choose your category</option>
                 <option *ngFor="let item of catarr" [value]="item.categoryId">{{item.categoryName}}</option>
               </select>
              </div>
                <label><b>Content</b></label>
                <div class="input-group">
                  <input class="form-control" formControlName="content">
                  <label class="alert alert-danger" *ngIf="kbase.get('content').hasError('pattern') && !kbase.get('content').pristine">Enter only characters</label>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="submit"  [disabled]="!kbase.valid" class="btn btn-outline-primary" >Submit</button>
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cross click')">Close</button>
          </div>
        </form>
      </ng-template>
