h3.text {
    font-size: 91px;
    font-family:'Times New Roman';
    font-weight: bolder;
    color: floralwhite;
}

h1.nav{
  background-color: #093158; ;
  color: #fff;
}

/* button.btn-primary {
  background-color: rgb(4, 36, 68);
  border-color: #093158;
  color: #fff;
} */

